In [8]:
import pandas as pd
import numpy as np

df = pd.read_csv('data/public_holidays_2010_2019.csv')
df.head()

  ADM_name ISO3        Date                          Name            Type
0    Aruba  ABW  01/01/2010                New Year's Day  Public holiday
1    Aruba  ABW  25/01/2010        Betico Croes' Birthday  Public holiday
2    Aruba  ABW  15/02/2010               Carnival Monday  Public holiday
3    Aruba  ABW  18/03/2010  National Anthem and Flag Day  Public holiday
4    Aruba  ABW  02/04/2010                   Good Friday  Public holiday

In [9]:
countries = ['Belgium', 'France', 'Germany', 'Italy', 'Poland', 'Spain']

new = df.loc[df['ADM_name'].isin(countries)]
new.head()

     ADM_name ISO3        Date              Name        Type
2916  Belgium  BEL  06/01/2010          Epiphany  Observance
2917  Belgium  BEL  14/02/2010   Valentine's Day  Observance
2918  Belgium  BEL  31/10/2010         Halloween  Observance
2919  Belgium  BEL  06/12/2010  St. Nicholas Day  Observance
2920  Belgium  BEL  24/12/2010     Christmas Eve  Observance

In [13]:
lst = new['ADM_name'].unique()

print(lst)
for country in lst:
    print(country, len(new.loc[new['ADM_name'] == country]))

['Belgium' 'Germany' 'Spain' 'France' 'Italy' 'Poland']
Belgium 200
Germany 526
Spain 588
France 190
Italy 191
Poland 200

In [ ]:
new.to_csv('selected_holidays.csv')